application/*
!application/config/boleto.php
!application/controllers/*
application/controllers/index.html
!application/libraries/*
application/libraries/index.html
!application/views/*
application/views/errors
application/views/index.html

system/*

index.php

.idea/*